<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>500000</particles>
  <batches>150</batches>
  <source type="independent" strength="1.0" particle="neutron">
    <space type="point">
      <parameters>0.0 0.0 0.0</parameters>
    </space>
    <angle type="isotropic"/>
    <energy type="discrete">
      <parameters>14000000.0 1.0</parameters>
    </energy>
  </source>
  <output>
    <path>/Users/gli/code/FissileDependence/openmc_runs/250.00kgm3</path>
  </output>
  <cutoff>
    <energy_neutron>0.1</energy_neutron>
  </cutoff>
</settings>
